#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#profilePic {
    border-radius: 50%;
}
.light {
    background-color: lightseagreen;
}
.dark {
    background-color: black;
}
